html {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  margin: 0 auto;
}

.Header {
  margin-bottom: 15px;
  padding: 12px 0;
}

.Header h1{
  font-size: 1.125rem;
}

.container {
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
  padding: 0 15px;
}

.content-area h2 {
  font-size: 1.125rem;
}

.content-area h3 {
  font-size: 1rem;
}

details summary {
  display: none;
  font-size: 0;
}

details[open] summary {
  display: block;
}

details-dialog {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 460px;
  padding: 0 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

details-dialog .form-group {
  margin-top: 0;
}

form .flash {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}